.keys{
  display: grid;
  grid-template-columns: 10% 10% 10% 10%;
 grid-template-rows: 120px 120px 120px 120px;
 grid-column-gap: 2%;
 grid-row-gap: 20px;
 width: 100%;
 justify-content: center;
 margin-top: 100px;
 font-family: 'Lato', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}
.key{
  background-color: rgba(60, 87, 251, 0.7);

  border: 3px solid black;
  display: flex;
  flex-direction:column;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  color: white;
}
body{
  height: 620px;
  background-color:#FB9A92;

}

.playing{
  border-color: yellow;
  box-shadow: 0 0 30px #3C57FB;
}
.sound{
  font-size: 10px;
}
